Sample-app-fragments/bin/AndroidManifest.xml
Sample-app-fragments/bin/Sample-app-fragments.apk
Sample-app-fragments/bin/classes.dex
Sample-app-fragments/bin/dexedLibs/android-support-v4-7314525e22e3f7e21ba33c1a2e530271.jar
Sample-app-fragments/bin/dexedLibs/revmob-6.4.4-c81ce0eb81b3523e348b0b6907d65a55.jar
Sample-app-fragments/bin/jarlist.cache
Sample-app-fragments/bin/resources.ap_
Sample-app-fragments/gen/com/revmob/sample/publisher/fragments/BuildConfig.java
Sample-app-fragments/gen/com/revmob/sample/publisher/fragments/R.java
